body {

    background: url(/pages/background.jpg) repeat;
    /*background-color: #819acc; !* Цвет фона веб-страницы *!*/
    /*background-color: #819acc; !* Цвет фона веб-страницы *!*/
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    margin: 0px 0px 0px 150px;
    /*padding: 50px 50px;*/
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

th {
    background: #000000;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child, td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #f0f8dc;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}

input {
    font-size: 14px;
}

l {
    margin: 10px 75px;
}

input[type="submit"] {
    background: #1dabb8;
    color: #fff;
    width: 150px;
    margin: 15px 3px;
    font-weight: bold;
    padding: 12px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}

input[type="submit"]:hover {
    background: #198d98;
}

seat {
    border: 1px solid #819acc;
    color: #1118ff;
    background-color: #1dabb8;
}

seatdemo {
    height: 30px;
    width: 60px;
    border: 1px solid #819acc;
    background-color: #1dabb8;
}

seat2demo {
    height: 30px;
    width: 60px;
    border: 1px solid #cc1727;
    background-color: #b81621;
}

seat3 {
    font-size: 10px;
}

seat2 {
    border: 1px solid #cc1727;
    color: #ff2d38;
    background-color: #b81621;
}

seat, seat2 {
    height: 20px;
    width: 20px;
    font-size: 8px;
    text-align: center;
    margin-right: 2px;
    display: inline-block;
    cursor: pointer;
}

input[type="text"] {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 238px;
}

input[type="text"] {
    border-radius: 3px 3px 0 0;
}

.checkbox {
    border: 1px solid #dcdcdc;
    padding: 10px 10px;
    width: 270px;
    border-radius: 3px 3px 0 0;
    background-color: #b81621;
}