@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
    background-image: url(/pages/background.jpg);
    /*background-color: #819acc; !* Цвет фона веб-страницы *!*/
    font: 100%/1.5em sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #1dabb8;
}

fieldset {
    border: none;
    margin: 0;
}

input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
}

/* ---------- LOGIN-FORM ---------- */

#inputform {
    margin: 20px auto;
    width: 400px;
}

#inputform h1 {
    background-color: #300205;
    border-radius: 5px 5px 0 0;
    width: 400px;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#inputform fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    width: 400px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    position: relative;
}

#inputform fieldset:before {
    background-color: #fff;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

#inputform output {
    font-size: 14px;
    width: 400px;
    text-align: center;
    padding: 12px 10px;
}

