divmovie {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
}
divmovie:hover {
    background: black;
}
divmovie img,divmovie a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


l {
    margin: 10px 75px;
}
