@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
    background-image: url(/pages/background.jpg);
    /*background-color: #819acc; !* Цвет фона веб-страницы *!*/
    font: 100%/1.5em sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #1dabb8;
}

fieldset {
    border: none;
    margin: 0;
}

input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
}

input[type="submit"] {
    cursor: pointer;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ---------- LOGIN-FORM ---------- */

#inputform {
    margin: 20px auto;
    width: 270px;
}

#inputform h1 {
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    width: 270px;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#inputform fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    position: relative;
}

#inputform fieldset:before {
    background-color: #fff;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

#inputform input {
    font-size: 14px;
}

#inputform output {
    font-size: 10px;
    width: 270px;
    padding: 12px 10px;
}

#inputform input[type="text"],
#inputform input[type="date"],
#inputform select[name="halls"],
#inputform select[name="movies"],
#inputform input[type="time"],
#inputform textarea,
#inputform input[type="password"] {
    border: 1px solid #dcdcdc;
    padding: 10px 10px;
    width: 270px;
    border-radius: 3px 3px 0 0;
}

#inputform input[type="submit"] {
    background: #1dabb8;
    color: #fff;
    width: 270px;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}

#inputform input[type="submit"]:hover {
    background: #198d98;
}


.info {
    background: #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 20px;
}

